<!DOCTYPE html>
<html>
<head>
  <title>AmpleAssets</title>
  <%= stylesheet_link_tag    "ample_assets/application" %>
  <%= javascript_include_tag "ample_assets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
