<div class="asset-drop">
	<%= hidden_field object_name, method, :value => drop.try(:id) %>
	<%= link_to 'Remove', '#', :class => 'asset-action asset-remove' + (drop ? '' : ' hide') %>
	<%= link_to 'Select', '#', :class => 'asset-action asset-select' %>
	<div class="droppable">
		<% if drop %>
			<%= render :partial => 'ample_assets/files/file', :object => drop %>
		<% else %>
			<span>Drag Asset Here</span>
		<% end %>
	</div>
</div>