<div class="asset-drop">
	<%= f.hidden_field field %>
	<div class="droppable">
		<% if drop %>
			<%= render :partial => 'ample_assets/files/file', :object => drop %>
		<% else %>
			Drag Asset Here
		<% end %>
	</div>
</div>