/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$base-font-family : Arial, sans-serif;
$base-font-size : 12px;

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius; 
  border-radius: $radius; 
}

textarea.notice {
  background: #FEF1B5;
}

div.asset-drop {
  font-family: $base-font-family;  
  font-size: $base-font-size;
  display: block;
  clear: both; 
  text-align: center;
  .droppable {
    padding: 5px; 
    margin-bottom: 20px; 
    width: 75px;
    height: 75px;
    border:1px solid #ccc; 
    background: #eee; 
    span {
      display: block;
      padding-top: 25px;
    }
    &.notice {
      background: #FEF1B5;
    }
  }
  .asset-action {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 70px; 
    margin-top: 65px;
    &.asset-select {
      margin-top: 20px
    }
  }
  .asset-remove {
    background: url('remove.png') no-repeat top left;
    &.hide {
      display: none;
    }
  }
}

.asset-detail {
  font-family: $base-font-family;  
  font-size: $base-font-size;
  padding: 15px 10px 10px;
  width: 540px;
  min-height: 500px;
  div.asset-media {
    width: 480px;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #d4d4d4;
  }
}

#ample-assets {
  font-family: $base-font-family;  
  font-size: $base-font-size;
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%; 
  height: 35px; 
  
  label {
    color: #999;
    margin-right: 3px;
  }
  
  input#asset-search {
    width: 100px;
  }
  
  .ampn {
    margin-left: 22px;
  }
  
  .background,
  .handle {
    background: #191919; 
    outline: none; 
    color: #FFF; 
  }
  .handle {
    float: right; 
    -webkit-border-top-left-radius: 10px; 
    -moz-border-radius-topleft: 10px; 
    border-top-left-radius: 10px; 
    padding: 10px 20px; 
    font-weight: bold; 
    text-decoration: none; 
    cursor: pointer; 
  }
  .background {
    clear: both; 
    height: 200px; 
  }

  .search {
    float: right;
    margin: 7px 10px 0 0;
    input {
      padding: 5px;
    }
  }

  .container {
    width: 950px;
    margin: 0 auto;
  }

  .pages {
    padding-top: 8px;
  }

  .page {
    @include clearfix; 
    ul {
      margin: 0;
      padding: 0;
    }
  }

  .tabs {
    @include clearfix; 
    padding-top: 2px;
    span.loading {
      display: none; 
      float: left;
      background: url('loading.gif') no-repeat center center;
      width: 20px; 
      height: 20px;
      margin: 10px 0 0 10px;
    }
  }

  a.next,
  a.previous {
    display: block;
    width: 34px;
    height: 41px;
    background: url('prev-next.png') no-repeat top left;
    float: right;
    margin: -60px 0 0 0;
  }
  a.previous {
    background: url('prev-next.png') no-repeat top right;
    float: left;
    margin-left: -50px;
  }

  a.tab {
    @include border-radius(1px);
    background: #333; 
    padding: 5px 10px; 
    color: #999; 
    text-decoration: none; 
    float: left; 
    display: block; 
    margin: 10px 0 0 10px; 
    outline: none; 
    &.on {
      background: transparent; 
    }
  }
  
  li {
    display: block;
    float: left;
    &.file a {
      display: block;
      border: 3px solid #999;
      background: url('loading.gif') no-repeat center center;
      width: 75px;
      height: 75px;
    }
    &.file a.document {
      background-color: #FFF;
      background-image: url('icon_pdf.gif');
    }
    &.file a.swf {
      background-color: #FFF;
      background-image: url('icon_swf.gif');
    }
    
  }
  
}
