/* ------------------------------------------- */
/*    VARIABLES & SETUP              					 */
/* ------------------------------------------- */

/* Primary Typography configuration */
$font-family	          : Helvetica, "Helvetica Neue", Arial, sans-serif;
$base-font-size         : 16px;
$base-line-height       : 24px;
$font-color             : #252525;
$subdued-font-color			: #636363;

/* Link configuration */
$link-color							: #533d79;
$link-hover-color       : darken($link-color, 10%);
$link-active-color      : darken($link-color, 10%);
$link-visited-color     : #533d79;
$link-focus-color       : #533d79;

@import 'custom_mixins';

textarea.notice {
  background: #FEF1B5;
}


.asset-drop {
  font-family: $font-family;  
  font-size: $base-font-size;
  clear: both; 
  text-align: center;
  .droppable {
    width: calc-em(75px, $base-font-size);
    height: calc-em(75px, $base-font-size);
    background: #eee;
    border:1px solid #ccc;
    margin: 0 0 calc-em(20px, $base-font-size);
    
    span {
      display: block;
      font-size: calc-em(14px, $base-font-size);
      line-height: calc-em(21px, 14px);
      margin: calc-em(14px, 14px) 0 0 0;
    } //span
    &.notice {
      background: #FEF1B5;
    } //notice
  } //droppable
  
  .asset-action {
    display: block;
    text-indent: -9999px;
    width: calc-em(20px, $base-font-size);
    height: calc-em(20px, $base-font-size);
    position: absolute;
    left: calc-em(75px, $base-font-size);
    margin-top: calc-em(65px, $base-font-size);
    &.asset-select {
      margin-top: calc-em(20px, $base-font-size);
    } //asset-select
  } //asset-action 
  
  .asset-remove {
    background: url('remove.png') no-repeat top left;
    &.hide {
      display: none;
    }
  } //asset-remove
  
} //asset-drop
 
.asset-detail {
  font-family: $font-family;  
  font-size: $base-font-size;
  padding: 15px 10px 10px;
  width: 540px;
  min-height: 500px;
  div.asset-media {
    width: 480px;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #d4d4d4;
  }
}

#ample-assets {
  font-family: $font-family;  
  font-size: $base-font-size;
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%;
  
  .background {
    clear: both; 
    
    height: 200px;
    
    background: #2b2b2b;
    background: -moz-linear-gradient(top, #2b2b2b 0%, #191919 44%, #111111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2b2b), color-stop(44%,#191919), color-stop(100%,#111111));
    background: -webkit-linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
    background: linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
  
    -webkit-box-shadow: rgba(0,0,0,.2) 0 -1px 2px, inset rgba(255,255,255,.2) 0 2px 0;
  }
  
  label {
    color: #999;
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    font-weight: bold;
    font-size: calc-em(13px, $base-font-size);
  }
  
  .ampn {
    margin-left: calc-em(22px, $base-font-size);
  }
  
  
  .handle {
    position: relative;
    float: right;
    outline: none; 
    top: 2px;
    padding: calc-em(10px, 13px) calc-em(20px, 13px); 
    cursor: pointer;
    
    background: #2B2B2B; 
    
    color: #FFF; 
    font-size: calc-em(13px, $base-font-size);
    font-weight: bold; 
    text-decoration: none;
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    
    
    -webkit-border-top-left-radius: 6px; 
    -moz-border-radius-topleft: 6px; 
    border-top-left-radius: 6px;
    
    -webkit-box-shadow: rgba(0,0,0,.2) 0 -1px 2px, inset rgba(255,255,255,.2) 0 2px 0, inset rgba(255,255,255,.1) 2px 0 0;
    
    
  }
  

  .search {
    float: right;
    margin: 7px 10px 0 0;
    input {
      padding: 5px;
    }
  }

  .container {
    width: 950px;
    margin: 0 auto;
  }

  .pages {
    padding-top: 8px;
  }

  .page {
    @include clearfix; 
    ul {
      margin: 0;
      padding: 0;
    }
  }

  .tabs {
    @include clearfix; 
    padding-top: 2px;
    font-size: calc-em(13px, $base-font-size);
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    font-weight: bold;
    span.loading {
      display: none; 
      float: left;
      background: url('loading.gif') no-repeat center center;
      width: calc-em(20px, 13px); 
      height: calc-em(20px, 13px); 
      margin: calc-em(10px, 13px) 0 0 calc-em(10px, 13px);
    }
  }

  a.next,
  a.previous {
    display: block;
    width: 34px;
    height: 41px;
    background: url('prev-next.png') no-repeat top left;
    float: right;
    margin: -60px 0 0 0;
  }
  a.previous {
    background: url('prev-next.png') no-repeat top right;
    float: left;
    margin-left: -50px;
  }

  a.tab {
    @include border-radius(1px);
    background: #333; 
    padding: 5px 10px; 
    color: #999; 
    text-decoration: none; 
    float: left; 
    display: block; 
    margin: 10px 0 0 10px; 
    outline: none; 
    &.on {
      background: transparent; 
    }
  }
  
  li {
    display: block;
    float: left;
    &.file a {
      display: block;
      border: 3px solid #999;
      background: url('loading.gif') no-repeat center center;
      width: 75px;
      height: 75px;
    }
    &.file a.document {
      background-color: #FFF;
      background-image: url('icon_pdf.gif');
    }
    &.file a.swf {
      background-color: #FFF;
      background-image: url('icon_swf.gif');
    }
    
  }
  
}
