/* ------------------------------------------- */
/*    VARIABLES & SETUP              					 */
/* ------------------------------------------- */

/* Primary Typography configuration */
$font-family	          : Helvetica, "Helvetica Neue", Arial, sans-serif;
$base-font-size         : 16px;
$base-line-height       : 24px;
$font-color             : #252525;
$subdued-font-color			: #636363;

/* Link configuration */
$link-color							: #533d79;
$link-hover-color       : darken($link-color, 10%);
$link-active-color      : darken($link-color, 10%);
$link-visited-color     : #533d79;
$link-focus-color       : #533d79;

@import 'custom_mixins';

/* ------------------------------------------- */
/*    WEBKIT ANIMATIONS												 */
/* ------------------------------------------- */

@-webkit-keyframes pulse_target {
 	0% {
	   @include box-shadow((inset rgba(0,0,0,.2) 0 2px 4px, rgba(29,160,0, 1) 0 0 16px));
	 }
	 50% {
	   @include box-shadow((inset rgba(0,0,0,.2) 0 2px 4px, rgba(29,160,0, .5) 0 0 6px));
	 }
	 100% {
	   @include box-shadow((inset rgba(0,0,0,.2) 0 2px 4px, rgba(29,160,0, 1) 0 0 16px));
	 }
} // pulse animation

.asset-notice {
  border: 1px solid #3e7532;
  
  background: #6ca852;
  background: -moz-linear-gradient(top, #6ca852 0%, #3e7532 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca852), color-stop(100%,#3e7532));
  background: -webkit-linear-gradient(top, #6ca852 0%,#3e7532 100%);
  background: -o-linear-gradient(top, #6ca852 0%,#3e7532 100%);
  background: -ms-linear-gradient(top, #6ca852 0%,#3e7532 100%);
  background: linear-gradient(top, #6ca852 0%,#3e7532 100%);
}

.asset-drop {
  font-family: $font-family;  
  font-size: $base-font-size;
  clear: both; 
  text-align: center;
  .droppable {
    width: calc-em(75px, $base-font-size);
    height: calc-em(75px, $base-font-size);
    margin: 0 0 calc-em(20px, $base-font-size);
    border: 1px solid #A5A5A5;
    
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #c6c6c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#c6c6c6));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#c6c6c6 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#c6c6c6 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#c6c6c6 100%);
    background: linear-gradient(top, #eeeeee 0%,#c6c6c6 100%);
    
    @include border-radius(1px);
    
    @include box-shadow(inset rgba(0,0,0,.2) 0 2px 4px);
    span {
      display: block;
      margin: calc-em(14px, 12px) 0 0 0;
      
      font-weight: bold;
      color: darken(#c6c6c6, 35%);
      font-size: calc-em(12px, $base-font-size);
      line-height: calc-em(21px, 12px);
      text-shadow: rgba(0,0,0,.05) 0 -1px 0, rgba(255,255,255,1) 0 1px 0;
    } //span
     
     
    &.asset-notice {
      border: 1px solid #3e7532;
      
      background: #6ca852;
      background: -moz-linear-gradient(top, #6ca852 0%, #3e7532 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca852), color-stop(100%,#3e7532));
      background: -webkit-linear-gradient(top, #6ca852 0%,#3e7532 100%);
      background: -o-linear-gradient(top, #6ca852 0%,#3e7532 100%);
      background: -ms-linear-gradient(top, #6ca852 0%,#3e7532 100%);
      background: linear-gradient(top, #6ca852 0%,#3e7532 100%);
      
      
      -webkit-animation-name: pulse_target;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      
      span {
        color: darken(#3e7532, 15%);
        text-shadow: rgba(0,0,0,.05) 0 -1px 0, rgba(255,255,255,.3) 0 1px 0;
      }
      
    } //asset-notice
  } //droppable
  
  .asset-action {
    display: block;
    text-indent: -9999px;
    width: calc-em(20px, $base-font-size);
    height: calc-em(20px, $base-font-size);
    position: absolute;
    left: calc-em(75px, $base-font-size);
    margin-top: calc-em(65px, $base-font-size);
    &.asset-select {
      margin-top: calc-em(20px, $base-font-size);
    } //asset-select
  } //asset-action 
  
  .asset-remove {
    background: url('remove.png') no-repeat top left;
    &.hide {
      display: none;
    }
  } //asset-remove
  
} //asset-drop
 
.asset-detail {
  font-family: $font-family;  
  font-size: $base-font-size;
  padding: 15px 10px 10px;
  width: 540px;
  min-height: 500px;
  div.asset-media {
    width: 480px;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #d4d4d4;
  }
}

#pdf {
	width: 480px;
	height: 300px;
  padding: 20px;
  background: #f2f2f2;
  border: 1px solid #d4d4d4;
}

#ample-assets {
  font-family: $font-family;  
  font-size: $base-font-size;
  position: fixed; 
  left: 0; 
  bottom: 0; 
  width: 100%; 
  height: 35px; 
  
  .controls {
    @include clearfix;
    display: none;
    position: absolute;
    width: calc-em(950px, $base-font-size);
    margin: calc-em(-70px, $base-font-size) 0 0 0;
    .previous,
    .next {
      position: relative;
      text-indent: -9999px;
      width:15px;
      height:27px; 
    }
    .previous {
      float: left;
      background: url('btn-prev.png') no-repeat top left;
    } //previous
    .next {
      float: right;
      background: url('btn-next.png') no-repeat top left;
    } //next
  } //controls
  
  .background {
    clear: both;
    background: #2b2b2b;
    background: url('bg-noise.png') repeat top left, -moz-linear-gradient(top, #2b2b2b 0%, #191919 44%, #111111 100%);
    background: url('bg-noise.png') repeat top left, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2b2b), color-stop(44%,#191919), color-stop(100%,#111111));
    background: url('bg-noise.png') repeat top left, -webkit-linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
    background: url('bg-noise.png') repeat top left, -o-linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
    background: url('bg-noise.png') repeat top left, -ms-linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
    background: url('bg-noise.png') repeat top left, linear-gradient(top, #2b2b2b 0%,#191919 44%,#111111 100%);
  
    @include box-shadow((rgba(0,0,0,.2) 0 -1px 2px, inset rgba(255,255,255,.2) 0 2px 0, inset rgba(255,255,255,.1) 2px 0 0));
   
  }
  
  label {
    color: #999;
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    font-weight: bold;
    font-size: calc-em(13px, $base-font-size);
  }

  input#asset-search {
    width: 215px;
  }
  
  .ampn {
    margin-left: calc-em(14px, $base-font-size);
    position: relative;
    z-index: 100;
    .empty {
      color: #FFF;
      text-align: center;
      padding: calc-em(30px, $base-font-size);
      a {
        color: #7799b8;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  
  .handle {
    position: relative;
    float: right;
    outline: none; 
    top: 2px;
    padding: calc-em(10px, 13px) calc-em(20px, 13px); 
    cursor: pointer;
    background: #2B2B2B url('bg-noise.png') repeat top left; 
    
    color: #FFF; 
    font-size: calc-em(13px, $base-font-size);
    font-weight: bold; 
    text-decoration: none;
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    
    @include border-top-left-radius(6px);
    @include box-shadow((rgba(0,0,0,.2) 0 -1px 2px, inset rgba(255,255,255,.2) 0 2px 0, inset rgba(255,255,255,.1) 2px 0 0));
    
  }
  

  .asset-search {
    @include clearfix;
    float: right;
    margin: calc-em(10px, $base-font-size) 0 0 0;
    width: calc-em(300px, $base-font-size);
    
    @include border-radius(3px);
    
    input {
      padding: calc-em(5px, 13px) calc-em(5px, 13px);
      margin: 0;
      float: left;
      border: 1px solid rgba(0,0,0,.4);
      width: calc-em(235px, 13px);
      
      font-size: calc-em(12px, $base-font-size);
      
      @include border-left-radius(4px);
      @include box-shadow((inset rgba(0,0,0,.4) 0 1px 2px, rgba(0,0,0,.6) 0 1px 2px));
      
    }
    label {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      float: left;
      display: block;
      padding: 0 calc-em(14px, 13px);
      line-height: calc-em(25px, 13px);
      
      font-size: calc-em(13px, $base-font-size);
      
      color: darken(#355487, 25%);
      text-shadow: rgba(255,255,255,.2) 0 1px 0;
      
      background: #3e6e9b;
      background: -moz-linear-gradient(top, #3e6e9b 0%, #124d87 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e6e9b), color-stop(100%,#124d87));
      background: -webkit-linear-gradient(top, #3e6e9b 0%,#124d87 100%);
      background: -o-linear-gradient(top, #3e6e9b 0%,#124d87 100%);
      background: -ms-linear-gradient(top, #3e6e9b 0%,#124d87 100%);
      background: linear-gradient(top, #3e6e9b 0%,#124d87 100%);
      
      @include border-right-radius(4px);
      @include box-shadow((inset rgba(255,255,255,.3) 0 1px 0, inset rgba(255,255,255,.1) -1px 0 0, rgba(0,0,0,.6) 0 1px 2px));
      
    }
  }

  .container {
    width: 950px;
    margin: 0 auto;
  }

  .asset-pages {
    width: 100%;
  }
  
  .assets-empty {
    display: none;
  }
  
  .assets-reload {
    
  }

  .page {
    @include clearfix; 
    &.panels {
      width: calc-em(930px,$base-font-size);
      margin: 0 auto;
      padding: calc-em(16px, $base-font-size) 0;
      @include border-radius(4px);
      border: none;
      border-bottom: 1px solid rgba(255,255,255,.2);

      background: #141414;
      background: -moz-linear-gradient(top, #141414 0%, #070707 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#070707));
      background: -webkit-linear-gradient(top, #141414 0%,#070707 100%);
      background: -o-linear-gradient(top, #141414 0%,#070707 100%);
      background: -ms-linear-gradient(top, #141414 0%,#070707 100%);
      background: linear-gradient(top, #141414 0%,#070707 100%);
      @include box-shadow((inset rgba(0,0,0,1) 1px 2px 3px));
    }
    ul {
      display: none;
      margin: 0;
      padding: 0;
    }
  }

  .tabs {
    @include clearfix; 
    padding-top: 2px;
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    font-weight: bold;
    margin-bottom: calc-em(16px, $base-font-size);
    span.asset-loading {
      display: none; 
      float: left;
      background: url('loading.gif') no-repeat center center;
      width: calc-em(20px, 13px); 
      height: calc-em(20px, 13px); 
      margin: calc-em(10px, 13px) 0 0 calc-em(10px, 13px);
    }
    .asset-results {
      display: none;
    }
  } //tabs

  a.assets-reload,
  a.tab {
    float: left; 
    display: block;
    outline: none; 
    margin: calc-em(10px, 13px) 0 0 calc-em(10px, 13px); 
    padding: 0 calc-em(14px, 13px);
    border: 1px solid #000;
    
    color: #FFF;
    font-size: calc-em(13px, $base-font-size);
    line-height: calc-em(26px, 13px);
    text-decoration: none; 
    text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
    
    @include border-radius(4px);
    
    background: #333333;
    background: -moz-linear-gradient(top, #333333 0%, #1c1c1c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#1c1c1c));
    background: -webkit-linear-gradient(top, #333333 0%,#1c1c1c 100%);
    background: -o-linear-gradient(top, #333333 0%,#1c1c1c 100%);
    background: -ms-linear-gradient(top, #333333 0%,#1c1c1c 100%);
    background: linear-gradient(top, #333333 0%,#1c1c1c 100%);
    
    @include box-shadow((inset rgba(255,255,255,.1) 0 1px 0, inset rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0, rgba(0,0,0,.6) 0 1px 2px));
    
    &.on {
      color: #E5E5E5;
      line-height: calc-em(27px, 13px);
      text-shadow: rgba(0,0,0,1) 0 -1px 0;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,.2);
      background: #141414;
      background: -moz-linear-gradient(top, #141414 0%, #070707 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#070707));
      background: -webkit-linear-gradient(top, #141414 0%,#070707 100%);
      background: -o-linear-gradient(top, #141414 0%,#070707 100%);
      background: -ms-linear-gradient(top, #141414 0%,#070707 100%);
      background: linear-gradient(top, #141414 0%,#070707 100%);
      @include box-shadow((inset rgba(0,0,0,1) 1px 2px 3px));
    } //on
    
  } //tab
  
  a.assets-reload {
    margin-left: 0;
    span {
      display: block;
      background: url('reload.png') no-repeat center center;
      width: 16px;
      height: 20px;
      padding: 3px 0;
    }
  }
  
  li {
    display: block;
    float: left;
    
    &.file a {
      display: block;
      background: url('loading.gif') no-repeat center center;
      width: calc-em(75px, $base-font-size);
      height: calc-em(75px, $base-font-size);
      border: 3px solid #FFF;
      background: #111111;
      
      @include box-shadow(rgba(0,0,0,1) 0 2px 3px);
      
      &:hover {
        border: 3px solid #000;
      }
    } //file a
     
    &.file a.document {
      background-color: #FFF;
      background-image: url('icon_pdf.gif');
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.file a.swf {
      background-color: #FFF;
      background-image: url('icon_swf.gif');
      background-position: center center;
      background-repeat: no-repeat;
    }
    
  } //li
  
  .uploadifyQueue {
    float: left;
    width: calc-em(780px, $base-font-size);
    height: calc-em(100px, $base-font-size);
    @include clearfix;
    overflow-y: scroll;

    .uploadifyQueueItem {
      float: left;
      width: calc-em(350px, 11px);
      margin: calc-em(10px, 11px) calc-em(10px, 11px) 0 0;
      padding: calc-em(10px, 11px);

      background: rgba(0,0,0,.2);
      border: 1px solid #000;

      @include border-radius(4px);

      font-weight: bold;
      font-size: calc-em(11px, $base-font-size);
      text-shadow: rgba(0,0,0,1) 0 -1px 0, rgba(255,255,255,.1) 0 1px 0;
      text-transform: uppercase;

      .cancel {
        float: right;
      }

      .fileName {
        color: #FFF;
      } //fileName

      .percentage {
        color: #1b6fc0;
      } //percentage


      .uploadifyProgress,
      .uploadifyError {
       width: 100%;
       padding: calc-em(3px, 11px);
       margin-top: calc-em(10px, 11px);
       border: 1px solid #000;
       border-bottom: 1px solid rgba(255,255,255,.2);

       background: #141414;
       background: -moz-linear-gradient(top, #141414 0%, #070707 100%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#070707));
       background: -webkit-linear-gradient(top, #141414 0%,#070707 100%);
       background: -o-linear-gradient(top, #141414 0%,#070707 100%);
       background: -ms-linear-gradient(top, #141414 0%,#070707 100%);
       background: linear-gradient(top, #141414 0%,#070707 100%);

       @include border-radius(2px);
       @include box-shadow((inset rgba(0,0,0,1) 1px 2px 3px));

        .uploadifyProgressBar {
        	height: calc-em(5px, 11px);
        	width: 1px;
          background-color: #0099FF;

          color: #1b6fc0;

        	@include border-right-radius(12px);
        } //progressBar

      } //progressbarContainer

      &.uploadifyError {
        
        .percentage {
          color: #c00d0d;
        } //percentage
      } //uploadifyError
    } //uploadifyQueueItem

  } //uploadifyQueue
  
  #upload {
    p {
      float: left;
      width: calc-em(140px, $base-font-size);
    }
  } //upload
  
  
}
